@import "src/styles/variables";

.layout {
  background: #fdfdfd;
  background: linear-gradient(180deg, #fdfdfd 0%, rgba(240, 240, 240, 1) 100%);
  min-height: calc(100vh - 120px);
  padding: 0 10px;
  display: grid;
  grid-template-rows: auto 110px;
}
