@import "src/styles/variables";

.field {
  label {
    display: block;
    color: $black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
    padding-left: 10px;
  }

  .input_box {
    position: relative;

    .currency {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      font-weight: 600;
    }
  }

  input {
    width: 100%;
    border: none;
    height: 60px;
    padding: 12px 40px 12px 12px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 7px 11px 0px #0000000d;

    &::placeholder {
      font-size: 14px;
      opacity: 0.9;
      font-weight: 400;
    }
  }
}
